<div class="card" style="border-radius: 5%;">
    <div class="card-heading p-4">
        <div class="mini-stat-icon float-right">
            <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
        </div>
        <div>
            <h5 class="font-16">{{cardcounts.name}}</h5>
        </div>
        <h3 class="mt-4">{{cardcounts.value}}</h3>
        <div class="progress mt-4" style="height: 4px;">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>